@use "../variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    font-size: 18px;
    font-weight: 400;
    color: variables.$textColor;
  }

  .castsFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}