@use "../variables";

.genre {
  width: 150px;
  height: 100px;
  padding: 5px;
  background-color: variables.$secondaryColor;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  .name {
    font-size: 20px;
    color: variables.$textColor;
  }
}

.genre:hover {
  opacity: 0.8;
}

.genre:active {
  opacity: 0.5;
}