@use "../variables";

.container {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    font-size: 18px;
    font-weight: 400;
    color: variables.$textColor;
  }

  .genresFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (min-width: 700px) {
  .container {
    .label {
      font-size: 25px;
    }

    .genresFlex {
      gap: 15px;
    }
  }
}