@use "../variables";

.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 10px 20px 10px 70px;
  width: 100%;

  .searchButton {
    align-items: flex-end;
    background: transparent;
    border: none;
    color: variables.$textColor;
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  .searchContainer {
    align-items: start;
    background-color: rgb(53, 55, 70);
    display: flex;
    height: 100%;
    left: 0;
    padding: 15% 5%;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1001;

    .closeSearch {
      background: transparent;
      border: none;
      color: variables.$textColor;
      position: fixed;
      right: 20px;
      top: 20px;
    }
  }

  .themeToggleContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 80px;

    .themeButton {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: 0.2s;
    }

    .themeButton:hover {
      opacity: 0.8;
      transition: 0.2s;
    }

    .themeButton:active {
      opacity: 0.5;
    }
  }
}