@use "../variables";

.container {
  padding: 15px;
  display: grid;
  grid-template-rows: 25px 50px 25px 30px;
  grid-template-columns: repeat(2, auto);
  gap: 0 50px;
  align-items: flex-start;
  text-align: center;

  .info {
    color: variables.$textColor;
    font-size: 17px;
  }

  .colName {
    opacity: 0.5;
    color: variables.$textColor;
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(4, 100px);
    padding: 15px 0;
    text-align: start;

    .colName {
      grid-row: 1;
      font-size: 20px;
    }

    .info {
      grid-row: 2;
      font-size: 21px;
    }
  }
}