@use "../variables";

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 15px;
}

.paginator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: variables.$textColor;
  list-style-type: none;
  background-color: variables.$secondaryColor;
  height: fit-content;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  flex-wrap: wrap;
}

.page {
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  background-color: variables.$bg;
  border-radius: 8px;
  cursor: pointer;
}

.page:hover {
  opacity: 0.8;
}

.page:active {
  opacity: 0.5;
}

.active {
  border: 1px solid variables.$textColor;
}


@media (min-width: 700px) {
  .container {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .paginator {
    justify-self: center;
    width: 70%;
    justify-content: space-around;
  }

  .page {
    font-size: 18px;
  }
}