@use "../variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;

  .infoItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .label {
      color: variables.$textColor;
      font-size: 30px;
    }

    .info {
      color: variables.$textColor;
      font-size: 20px;
    }

  }

  .logout {
    background-color: variables.$primaryColor;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 35px;
    width: 150px;
  }

  .logout:hover {
    opacity: 0.8;
  }

  .logout:active {
    opacity: 0.5;
  }
}