@use '../variables';

.searchbar {
  width: 100%;

  .form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .searchField {
      background-color: variables.$secondaryColor;
      border: none;
      border-radius: 12px;
      caret-color: variables.$textColor;
      color: variables.$textColor;
      font-size: 16px;
      height: 35px;
      outline: none;
      padding: 5px 25px;
      width: calc(100% - 50px);
    }

    .searchField::placeholder {
      color: variables.$placeholderColor;
    }

    .searchBtn {
      background-color: variables.$primaryColor;
      border: none;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      font-size: 12px;
      height: 30px;
      transition: 0.2s;
      width: 45px;
    }

    .searchBtn:hover {
      opacity: 0.8;
      transition: 0.2s;
    }

    .searchBtn:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: 700px) {
  .searchbar {
    margin-left: 15px;

    .form {
      .searchField {
        font-size: 20px;
        height: 45px;
        width: calc(100% - 100px);
      }

      .searchBtn {
        font-size: 16px;
        height: 40px;
        width: 80px;
      }
    }
  }
}