@use "../variables";

.toggleSidebar {
    background: transparent;
    border:none;
    cursor: pointer;
    left: 20px;
    position: fixed;
    top: 25px;
    transition: 0.2s;
    z-index: 998;
}

.toggleSidebar:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.toggleSidebar:active {
    opacity: 0.5;
}

.sidebar {
    align-items: center;
    background-color: variables.$secondaryColor;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    left: -100px;
    padding: 30px 10px;
    position: fixed;
    top: 10%;
    transition: 0.3s;
    width: 70px;
    z-index: 1;
    z-index: 1000;

    .navLinksContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
    }

    .navLink {
        opacity: 0.5;

        .logo:hover {
            filter: brightness(0) saturate(100%) invert(49%) sepia(21%) saturate(6105%) hue-rotate(331deg) brightness(99%) contrast(110%);
        }
    }

    .active {
        opacity: 1;
    }

    .avatar {
        border: 1px solid variables.$textColor;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
}

.opened {
    left: 20px;
    transition: 0.3s;
}

.overlay {
    background-color: rgba(53, 55, 70, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}


@media (min-width: 700px) {
    .sidebar {
        left: 20px;
        position: fixed;
        top: max(10%, 25px);
    }
}