@use "../variables";

.starRating {
  position: relative;

  .starsOutlined, .starsFilled {
    display: flex;
  }

  .starsFilled {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}