.container {
  width: fit-content;
  height: fit-content;

  .player {
    width: 290px;
    height: 163px;
    border-radius: 8px;
  }
}

@media (min-width: 700px) {
  .container {
    .player {
      width: 500px;
      height: 281px;
    }
  }
}