@use "variables";

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: variables.$bg;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  height: calc(100% - 80px);
  padding: 10px;
  overflow: auto;
}

main::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 700px) {
  main {
    margin-left: 100px;
  }

  main::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(136, 136, 136, 0.15);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.18);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}
