@use "variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10%;

  .link {
    background-color: variables.$secondaryColor;
    border-radius: 8px;
    color: variables.$textColor;
    font-size: 30px;
    padding: 10px;
  }

  .link:hover {
    opacity: 0.8;
  }

  .link:active {
    opacity: 0.5;
  }
}

@media (min-width: 700px) {
  .container {
    gap: 50px;

    .link {
      font-size: 40px;
      padding: 20px 50px;
    }
  }
}