$bg: #10141e;
$secondaryColor: #161e30;
$primaryColor: #5a6990;
$textColor: white;
$placeholderColor: #727e93;
$skeletonsColor: rgba(255, 255, 255, 0.06);
$skeletonsColor2 : rgba(255, 255, 255, 0.19);