@use "../../variables";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  .moviesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}