@use "../variables";

@keyframes skeleton-loading {
  0% {
    background-color: variables.$skeletonsColor;
  }
  100% {
    background-color: variables.$skeletonsColor2;
  }
}

.chip {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: variables.$skeletonsColor;
  border-radius: 6px;
  height: 15px;
  width: 55px;
}

@media (min-width: 700px) {
  .chip {
    width: 92px;
    height: 29px;
  }
}