@use "../variables";

@keyframes skeleton-loading {
  0% {
    background-color: variables.$skeletonsColor;
  }
  100% {
    background-color: variables.$skeletonsColor2;
  }
}

.container {
  width: 150px;
  height: 100px;
  background-color: variables.$skeletonsColor;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
}