@use "../variables";

@keyframes skeleton-loading {
  0% {
    background-color: variables.$skeletonsColor;
  }
  100% {
    background-color: variables.$skeletonsColor2;
  }
}

.container {
  width: fit-content;
  margin-left: 15px;
  padding-top: 10px;

  .backdrop {
    border-radius: 8px;
    height: fit-content;
    background-color: variables.$skeletonsColor;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
  }

  .info {
    height: 5px;
    width: 60px;
    border-radius: 10px;
    background-color: variables.$skeletonsColor;
    margin-bottom: 5px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  .title {
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: variables.$skeletonsColor;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

.s {
  .backdrop {
    width: 112px;
    height: 63px;
  }
}

.m {
  .backdrop {
    width: 160px;
    height: 90px;
  }
}

.l {
  .backdrop {
    width: 208px;
    height: 117px;
  }
}

@media (min-width:700px) {
  .container {
    .info {
      font-size: 16px;
    }

    .title {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .s {
    .backdrop {
      width: 224px;
      height: 126px;
    }

    .info {
      font-size: 14px;
    }

    .title {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .m {
    .backdrop {
      width: 320px;
      height: 180px;
    }
  }

  .l {
    .backdrop {
      width: 416px;
      height: 234px;
    }
  }
}