@use "../variables";

@keyframes skeleton-loading {
  0% {
    background-color: variables.$skeletonsColor;
  }
  100% {
    background-color: variables.$skeletonsColor2;
  }
}

.container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;

  .titleContainer {
    align-items: flex-end;
    display: flex;
    width: fit-content;

    .title {
      animation: skeleton-loading 1s linear infinite alternate;
      background-color: variables.$skeletonsColor;
      border-radius: 18px;
      height: 30px;
      margin-right: 20px;
      width: 130px;
    }
  }

  .expand {
    animation: skeleton-loading 1s linear infinite alternate;
    background-color: variables.$skeletonsColor;
    border-radius: 8px;
    color: transparent;
    height: 10px;
    width: 55px;
  }
}

@media(min-width: 700px) {
  .container {
    .titleContainer {
      .title {
        height: 50px;
        width: 155px;
      }
    }

    .expand {
      height: 15px;
      width: 70px;
    }
  }
}